# ignore all files
*

# unignore parent folder
!/**/

# unignore all sources files
!*.cpp
!*.h

# unignore vs project files
!*.vcxproj
!*.sln

# unignore resource files
!*.rc
!*.ico
!*.aps

# reinclude readme file
!README

# reinclude .gitignore
!.gitignore
